n8n/invoiceguard-fraud-detection-pipeline.json
{
  "name": "InvoiceGuard – Automated Invoice Fraud Detection & Approval Pipeline",
  "nodes": [
    {
      "id": "142ad6c5-bc88-4159-9254-336b47eb027a",
      "name": "Note 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -860
      ],
      "parameters": {
        "content": "## 🛡️ InvoiceGuard — Automated Invoice Fraud Detection & Approval Pipeline\n**Owner:** Finance Automation / Platform Engineering\n\nEnd-to-end pipeline that ingests inbound invoices, extracts structured data with AI, cross-checks them against InvoiceGuard's duplicate & anomaly detection API, scores fraud risk, routes for human approval when needed, posts approved bills to the accounting system and keeps a full audit trail. Includes a scheduled digest and a dedicated error-handling branch.\n\n_Portfolio sample — endpoints/credentials are illustrative placeholders._",
        "height": 220,
        "width": 880,
        "color": 4
      }
    },
    {
      "id": "8cf92756-775f-44b4-ab7c-0aa6614ca6fb",
      "name": "Note 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -260
      ],
      "parameters": {
        "content": "### 1. Intake & Normalization\nWebhook receives the invoice (from email parser, upload UI or vendor portal), downloads the attachment if provided and normalizes the payload into a common schema.",
        "height": 200,
        "width": 620,
        "color": 6
      }
    },
    {
      "id": "e1fc5532-a133-4a6e-aee2-045486d58a0f",
      "name": "Note 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        780,
        -260
      ],
      "parameters": {
        "content": "### 2. AI Extraction & Validation\nGPT-4o reads the invoice document/image and returns structured fields. The result is reconciled with the submitted metadata and validated before anything touches the database.",
        "height": 200,
        "width": 620,
        "color": 6
      }
    },
    {
      "id": "61d32e2a-780a-4f06-a5fc-7004058cb8bc",
      "name": "Note 4",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1980,
        -260
      ],
      "parameters": {
        "content": "### 3. Duplicate & Anomaly Detection\nMirrors InvoiceGuard's audit engine: vendor-name similarity + amount + date-window duplicate matching, and per-vendor z-score statistical outlier detection.",
        "height": 200,
        "width": 640,
        "color": 6
      }
    },
    {
      "id": "4c1ce2c0-6c75-41e8-9c05-1e9113590a0e",
      "name": "Note 5",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2760,
        -880
      ],
      "parameters": {
        "content": "### 4. Fraud Risk Scoring & Routing\nCombines every signal (duplicate score, anomaly score, round-amount, weekend issue-date, missing PO, new vendor) into a single 0–100 risk score and routes the invoice accordingly.",
        "height": 260,
        "width": 640,
        "color": 6
      }
    },
    {
      "id": "30c7b98b-9664-4680-9a2b-a7f21c2ec815",
      "name": "Note 6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3080,
        -1180
      ],
      "parameters": {
        "content": "### 5a. Critical Risk (≥80)\nFinance & Security are alerted in Slack in real time and the workflow **pauses** for a human approve/reject decision before any money moves.",
        "height": 260,
        "width": 560,
        "color": 3
      }
    },
    {
      "id": "da10f9c2-b700-4247-a70b-04cbbf28d736",
      "name": "Note 7",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3080,
        -260
      ],
      "parameters": {
        "content": "### 5b. Medium Risk (40-79)\nInvoice is flagged and dropped into the AP reviewer queue inside InvoiceGuard; automation stops here and a person finishes the review in the dashboard.",
        "height": 220,
        "width": 520,
        "color": 5
      }
    },
    {
      "id": "96def653-aae9-45a4-b011-df04cd35ca32",
      "name": "Note 8",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3080,
        420
      ],
      "parameters": {
        "content": "### 5c. Low Risk (<40)\nInvoice is auto-approved, mirrored into the accounting system as a bill, and AP is notified by email.",
        "height": 220,
        "width": 520,
        "color": 7
      }
    },
    {
      "id": "b4b34f5d-8f09-49e4-8966-aa871832b8cf",
      "name": "Note 9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4680,
        -260
      ],
      "parameters": {
        "content": "### 6. Unified Audit Trail\nAll three branches converge here: every decision (approved, rejected or queued) is written to Postgres for compliance and dashboard reporting.",
        "height": 200,
        "width": 560,
        "color": 6
      }
    },
    {
      "id": "4d0f059c-009c-4fcc-bba3-8a770684d8c7",
      "name": "Note 10",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        760
      ],
      "parameters": {
        "content": "### 7. Scheduled Executive Digest\nRuns every morning at 08:00, pulls live metrics + open alerts from InvoiceGuard and emails the CFO / posts a Slack summary to #finance.",
        "height": 220,
        "width": 760,
        "color": 6
      }
    },
    {
      "id": "c6440d97-ef9b-4f53-9b2c-a05e15f7ebe6",
      "name": "Note 11",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -720,
        -1180
      ],
      "parameters": {
        "content": "### 8. Error Handling\nAny node failure anywhere in this workflow is caught here and routed straight to the on-call Slack channel with full context for fast triage.",
        "height": 200,
        "width": 560,
        "color": 2
      }
    },
    {
      "id": "425518d4-4065-4d55-9c3e-00a38eaf6fcc",
      "name": "Invoice Received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -680,
        -80
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "6f2d1a3a-7c6c-4a41-9b6a-0f5c1a2b0001"
    },
    {
      "id": "53dfdee9-aade-4d8a-b2a8-8825f6eba0f3",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -420,
        -80
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "1",
              "name": "organizationId",
              "type": "string",
              "value": "={{ $json.body.organizationId }}"
            },
            {
              "id": "2",
              "name": "vendorName",
              "type": "string",
              "value": "={{ $json.body.vendorName }}"
            },
            {
              "id": "3",
              "name": "invoiceNumber",
              "type": "string",
              "value": "={{ $json.body.invoiceNumber }}"
            },
            {
              "id": "4",
              "name": "amount",
              "type": "number",
              "value": "={{ Number($json.body.amount) }}"
            },
            {
              "id": "5",
              "name": "currency",
              "type": "string",
              "value": "={{ $json.body.currency || 'USD' }}"
            },
            {
              "id": "6",
              "name": "issueDate",
              "type": "string",
              "value": "={{ $json.body.issueDate }}"
            },
            {
              "id": "7",
              "name": "dueDate",
              "type": "string",
              "value": "={{ $json.body.dueDate }}"
            },
            {
              "id": "8",
              "name": "purchaseOrderId",
              "type": "string",
              "value": "={{ $json.body.purchaseOrderId }}"
            },
            {
              "id": "9",
              "name": "fileUrl",
              "type": "string",
              "value": "={{ $json.body.fileUrl }}"
            },
            {
              "id": "10",
              "name": "submittedBy",
              "type": "string",
              "value": "={{ $json.body.submittedBy }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "53e10757-a7e2-493b-9cec-5cbe2c9c0fae",
      "name": "Has Attachment?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.fileUrl }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a1e21ef6-8fa7-44f4-af73-bb270040ea67",
      "name": "Download Invoice File",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        -220
      ],
      "parameters": {
        "url": "={{ $json.fileUrl }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "retryOnFail": true,
      "waitBetweenTries": 2000
    },
    {
      "id": "ae1078cd-60e9-4112-b2d3-91e2e776eaa0",
      "name": "AI Extract Invoice Data",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        360,
        -80
      ],
      "parameters": {
        "resource": "text",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list"
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an invoice data extraction engine for InvoiceGuard. Read the attached invoice (image or PDF text) and return ONLY strict JSON with keys: vendorName, invoiceNumber, amount, currency, issueDate (ISO 8601), dueDate (ISO 8601 or null), taxId, lineItems (array of {description, quantity, unitPrice, total}). If a field cannot be read, use null."
            },
            {
              "role": "user",
              "content": "={{ 'Submitted metadata as fallback: ' + JSON.stringify($json) }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {
          "temperature": 0.1
        }
      },
      "continueOnFail": true
    },
    {
      "id": "d916b09a-b037-4b09-b4ce-6c3f8ec7e22b",
      "name": "Reconcile Extracted + Submitted Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        -80
      ],
      "parameters": {
        "jsCode": "// Merge AI-extracted fields with the originally submitted metadata.\n// AI output wins for anything the submitter left blank; submitted values\n// win when they disagree with a low-confidence extraction.\nconst submitted = $('Normalize Payload').item.json;\nconst ai = $json.message?.content ? JSON.parse($json.message.content) : ($json.data || {});\n\nconst merged = {\n  organizationId: submitted.organizationId,\n  vendorName: submitted.vendorName || ai.vendorName,\n  invoiceNumber: submitted.invoiceNumber || ai.invoiceNumber,\n  amount: submitted.amount || ai.amount,\n  currency: submitted.currency || ai.currency || 'USD',\n  issueDate: submitted.issueDate || ai.issueDate,\n  dueDate: submitted.dueDate || ai.dueDate || null,\n  purchaseOrderId: submitted.purchaseOrderId || null,\n  taxId: ai.taxId || null,\n  lineItems: ai.lineItems || [],\n  submittedBy: submitted.submittedBy || 'unknown',\n  extractionSource: submitted.fileUrl ? 'ai-document' : 'manual-submission',\n};\n\nconst lineItemTotal = (merged.lineItems || []).reduce((s, li) => s + (li.total || 0), 0);\nmerged.lineItemMismatch = lineItemTotal > 0 && Math.abs(lineItemTotal - merged.amount) > 0.01;\n\nreturn [{ json: merged }];"
      }
    },
    {
      "id": "0bf98115-7a1b-4d5d-b06a-03a1586359f2",
      "name": "Validate Schema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        -80
      ],
      "parameters": {
        "jsCode": "// Lightweight schema guard mirroring the InvoiceGuard upload validator.\nconst inv = $json;\nconst errors = [];\n\nif (!inv.vendorName || inv.vendorName.trim().length < 2) errors.push('vendorName missing/too short');\nif (!inv.invoiceNumber) errors.push('invoiceNumber missing');\nif (!inv.amount || isNaN(inv.amount) || inv.amount <= 0) errors.push('amount must be a positive number');\nif (!inv.issueDate || isNaN(Date.parse(inv.issueDate))) errors.push('issueDate is not a valid date');\nif (inv.dueDate && isNaN(Date.parse(inv.dueDate))) errors.push('dueDate is not a valid date');\n\nreturn [{ json: { ...inv, isValid: errors.length === 0, validationErrors: errors } }];"
      }
    },
    {
      "id": "c922584f-603a-459d-91af-010ecf49880e",
      "name": "Valid Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1140,
        -80
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.isValid }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a556ee6a-9acf-4445-8c09-c92eea4a76be",
      "name": "Notify Invalid Invoice",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1400,
        40
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#ap-exceptions",
          "mode": "name"
        },
        "text": "=:warning: Invoice `{{ $json.invoiceNumber }}` from *{{ $json.vendorName }}* failed validation and was not imported.\nErrors: {{ $json.validationErrors.join(', ') }}",
        "otherOptions": {}
      }
    },
    {
      "id": "5113bf84-f2ab-45b5-9457-5e16d7c416c5",
      "name": "Discard Invalid",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1660,
        40
      ],
      "parameters": {}
    },
    {
      "id": "2ff2767f-e212-432d-8dd1-86d6f29dca47",
      "name": "Fetch Vendor & Invoice History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1400,
        -220
      ],
      "parameters": {
        "url": "=https://app.invoiceguard.io/api/invoices",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "vendor",
              "value": "={{ $json.vendorName }}"
            },
            {
              "name": "limit",
              "value": "200"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.invoiceGuardApi.token }}"
            }
          ]
        },
        "options": {}
      },
      "retryOnFail": true
    },
    {
      "id": "5f496eff-ca97-4718-8804-3adbe6c9f581",
      "name": "Duplicate Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        -80
      ],
      "parameters": {
        "jsCode": "// Re-implements InvoiceGuard's audit-engine duplicate heuristic:\n// vendor-name similarity (Levenshtein-based) + exact amount match + 30-day window.\nfunction stringSimilarity(a, b) {\n  a = (a || '').toLowerCase().trim();\n  b = (b || '').toLowerCase().trim();\n  if (!a || !b) return 0;\n  if (a === b) return 1;\n  const m = a.length, n = b.length;\n  const dp = Array.from({ length: m + 1 }, (_, i) => [i, ...Array(n).fill(0)]);\n  for (let j = 0; j <= n; j++) dp[0][j] = j;\n  for (let i = 1; i <= m; i++) {\n    for (let j = 1; j <= n; j++) {\n      dp[i][j] = a[i - 1] === b[j - 1]\n        ? dp[i - 1][j - 1]\n        : 1 + Math.min(dp[i - 1][j - 1], dp[i - 1][j], dp[i][j - 1]);\n    }\n  }\n  return 1 - dp[m][n] / Math.max(m, n);\n}\n\nconst candidate = $('Validate Schema').item.json;\nconst history = $json.data || [];\nconst dayMs = 24 * 60 * 60 * 1000;\n\nlet best = { similarity: 0, matchedInvoiceId: null };\nfor (const existing of history) {\n  const vendorSim = stringSimilarity(candidate.vendorName, existing.vendorName);\n  const amountMatch = Math.abs(existing.amount - candidate.amount) < 0.01;\n  const numberSim = stringSimilarity(candidate.invoiceNumber, existing.invoiceNumber);\n  const dateDiff = Math.abs(new Date(candidate.issueDate) - new Date(existing.issueDate));\n  const withinWindow = dateDiff < 30 * dayMs;\n\n  if (vendorSim > 0.85 && amountMatch && withinWindow) {\n    const similarity = (vendorSim + (numberSim > 0.7 ? 0.3 : 0)) / 1.3;\n    if (similarity > best.similarity) best = { similarity, matchedInvoiceId: existing.id };\n  }\n}\n\nreturn [{\n  json: {\n    ...candidate,\n    vendorHistory: history,\n    duplicateScore: Math.round(best.similarity * 100),\n    duplicateMatchId: best.matchedInvoiceId,\n  },\n}];"
      }
    },
    {
      "id": "fd4eca97-ad5e-4acf-a9b8-db0740da53e2",
      "name": "Statistical Anomaly Detection",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1920,
        -80
      ],
      "parameters": {
        "jsCode": "// Per-vendor z-score outlier detection, same logic as audit-engine.ts.\nconst inv = $json;\nconst history = (inv.vendorHistory || []).filter(h => h.vendorName?.toLowerCase().trim() === inv.vendorName.toLowerCase().trim());\n\nlet anomalyScore = 0;\nlet anomalyReason = null;\n\nif (history.length >= 3) {\n  const amounts = history.map(h => h.amount);\n  const mean = amounts.reduce((s, a) => s + a, 0) / amounts.length;\n  const stdDev = Math.sqrt(amounts.reduce((s, a) => s + (a - mean) ** 2, 0) / amounts.length);\n  const z = stdDev > 0 ? Math.abs(inv.amount - mean) / stdDev : 0;\n\n  if (stdDev > 0 && z > 2.5) {\n    anomalyScore = Math.min(100, Math.round(z * 20));\n    anomalyReason = `Amount $${inv.amount.toFixed(2)} is ${inv.amount > mean ? 'significantly higher' : 'significantly lower'} than vendor average $${mean.toFixed(2)} (z=${z.toFixed(2)})`;\n  }\n} else {\n  anomalyReason = 'New or low-history vendor — insufficient data for statistical baseline';\n  anomalyScore = 15;\n}\n\nreturn [{ json: { ...inv, anomalyScore, anomalyReason, isNewVendor: history.length < 3 } }];"
      }
    },
    {
      "id": "d191bf7c-705c-4ab2-8e6f-835e02be8cfc",
      "name": "Fraud Risk Scoring Engine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2180,
        -80
      ],
      "parameters": {
        "jsCode": "// Combines every upstream signal into a single 0-100 fraud risk score.\nconst inv = $json;\nconst factors = [];\nlet score = 0;\n\nscore += inv.duplicateScore * 0.45;\nif (inv.duplicateScore > 60) factors.push(`Possible duplicate of invoice ${inv.duplicateMatchId} (${inv.duplicateScore}% similarity)`);\n\nscore += inv.anomalyScore * 0.30;\nif (inv.anomalyReason) factors.push(inv.anomalyReason);\n\nconst isRoundAmount = inv.amount % 100 === 0 && inv.amount >= 500;\nif (isRoundAmount) { score += 8; factors.push('Suspiciously round invoice amount'); }\n\nconst issueDay = new Date(inv.issueDate).getDay();\nconst isWeekend = issueDay === 0 || issueDay === 6;\nif (isWeekend) { score += 6; factors.push('Invoice issued on a weekend'); }\n\nif (!inv.purchaseOrderId) { score += 10; factors.push('No purchase order on file'); }\n\nif (inv.isNewVendor) { score += 6; factors.push('New or low-history vendor'); }\n\nif (inv.lineItemMismatch) { score += 12; factors.push('Line item totals do not reconcile with invoice amount'); }\n\nscore = Math.max(0, Math.min(100, Math.round(score)));\nconst riskLevel = score >= 80 ? 'critical' : score >= 40 ? 'medium' : 'low';\n\nreturn [{ json: { ...inv, riskScore: score, riskLevel, riskFactors: factors } }];"
      }
    },
    {
      "id": "13227700-5abc-4b31-8b0a-f346bcde7825",
      "name": "Route by Risk Level",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2440,
        -80
      ],
      "parameters": {
        "mode": "expression",
        "numberOutputs": 3,
        "output": "={{ $json.riskLevel === 'critical' ? 0 : $json.riskLevel === 'medium' ? 1 : 2 }}",
        "options": {}
      },
      "outputConnections": null
    },
    {
      "id": "96336a76-abcb-4071-a7df-500c055ec866",
      "name": "Create Critical Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2760,
        -260
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://app.invoiceguard.io/api/anomalies",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { type: 'FRAUD_RISK', severity: 'high', title: 'Critical Fraud Risk Detected', description: $json.riskFactors.join('; '), amountAtRisk: $json.amount, organizationId: $json.organizationId } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.invoiceGuardApi.token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "14ab29b5-c798-4390-abca-311a12213756",
      "name": "Alert Finance & Security Team",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3020,
        -260
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#finance-fraud-alerts",
          "mode": "name"
        },
        "text": "=:rotating_light: *Critical risk invoice* `{{ $json.invoiceNumber }}` from *{{ $json.vendorName }}* (${{ $json.amount }}) scored *{{ $json.riskScore }}/100*.\n\n*Risk factors:*\n{{ $json.riskFactors.map(f => '• ' + f).join('\\n') }}",
        "otherOptions": {
          "mrkdwn": true
        }
      }
    },
    {
      "id": "9929c9bc-4c2f-49dc-bfa9-967222f304f3",
      "name": "Send & Wait for Manual Approval",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3280,
        -260
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendAndWait",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#finance-fraud-alerts",
          "mode": "name"
        },
        "message": "=Approve payment for invoice {{ $json.invoiceNumber }} (${{ $json.amount }}) from {{ $json.vendorName }}?",
        "approvalOptions": {
          "values": {
            "approveType": "double"
          }
        },
        "limitWaitTime": true,
        "limitOptions": {
          "limitType": "afterTimeInterval",
          "resumeAmount": 24,
          "resumeUnit": "hours"
        }
      }
    },
    {
      "id": "3fa183ad-77e2-491f-9818-6af36f8a9f97",
      "name": "Approved by Reviewer?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3540,
        -260
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "a76b6e25-4df2-4fdf-bebc-6e24b4a77f17",
      "name": "Approve Invoice (Reviewed)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        -340
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://app.invoiceguard.io/api/invoices",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ...$('Fraud Risk Scoring Engine').item.json, status: 'approved', approvedBy: 'manual-review' } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.invoiceGuardApi.token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "cf0d58f9-8fd6-40ef-bbed-7cdb8a959d94",
      "name": "Reject Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3800,
        -180
      ],
      "parameters": {
        "method": "PATCH",
        "url": "=https://app.invoiceguard.io/api/anomalies",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { alertId: $('Create Critical Alert').item.json.data.id, status: 'resolved' } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.invoiceGuardApi.token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "6d453cf2-00b6-432a-b064-2b2aa09e0205",
      "name": "Notify Vendor Team of Rejection",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        4060,
        -180
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#ap-exceptions",
          "mode": "name"
        },
        "text": "=:x: Invoice `{{ $json.invoiceNumber }}` from *{{ $json.vendorName }}* was *rejected* after manual review. Please follow up with the vendor.",
        "otherOptions": {}
      }
    },
    {
      "id": "e60e63d1-62f3-4cce-a48d-d3830b3c2759",
      "name": "Flag Invoice for Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2760,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://app.invoiceguard.io/api/anomalies",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { type: 'FRAUD_RISK', severity: 'medium', title: 'Invoice Flagged for Review', description: $json.riskFactors.join('; '), amountAtRisk: $json.amount, organizationId: $json.organizationId } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.invoiceGuardApi.token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "452f44fd-00a9-48e1-8f24-e96f822627e6",
      "name": "Notify AP Reviewer Queue",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        3020,
        -80
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#ap-review-queue",
          "mode": "name"
        },
        "text": "=:mag: Invoice `{{ $json.invoiceNumber }}` from *{{ $json.vendorName }}* (${{ $json.amount }}) needs manual review — risk score {{ $json.riskScore }}/100. Check the InvoiceGuard dashboard.",
        "otherOptions": {}
      }
    },
    {
      "id": "e98604fc-0824-4bfe-ade7-6a03a1797966",
      "name": "Await Manual Review",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        3280,
        -80
      ],
      "parameters": {},
      "notes": "Automation stops here — an AP reviewer resolves this from the InvoiceGuard dashboard."
    },
    {
      "id": "a61e1e2d-68f9-41ce-87ca-2c175e6c0ed2",
      "name": "Auto-Approve Invoice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2760,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "=https://app.invoiceguard.io/api/invoices",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { ...$json, status: 'approved', approvedBy: 'auto-pilot' } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.invoiceGuardApi.token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "5be8e5ae-429c-49bf-9bbb-af39a0b88424",
      "name": "Sync Bill to Accounting System",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3020,
        100
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.accounting-provider.example.com/v1/bills",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "quickBooksOAuth2Api",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { vendorName: $json.vendorName, invoiceNumber: $json.invoiceNumber, amount: $json.amount, currency: $json.currency, dueDate: $json.dueDate } }}",
        "options": {}
      },
      "retryOnFail": true,
      "waitBetweenTries": 3000,
      "continueOnFail": true
    },
    {
      "id": "eee9404c-1891-4432-a2c1-4d0b03234bba",
      "name": "Confirm Auto-Approval to AP Team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        3280,
        100
      ],
      "parameters": {
        "fromEmail": "invoiceguard-bot@invoiceguard.io",
        "toEmail": "ap-team@invoiceguard.io",
        "subject": "=Auto-approved: invoice {{ $json.invoiceNumber }} ({{ $json.vendorName }})",
        "emailFormat": "html",
        "html": "=<p>Invoice <b>{{ $json.invoiceNumber }}</b> from <b>{{ $json.vendorName }}</b> for <b>{{ $json.currency }} {{ $json.amount }}</b> was auto-approved (risk score {{ $json.riskScore }}/100) and synced to the accounting system.</p>",
        "options": {}
      }
    },
    {
      "id": "333833bb-c689-4fdb-9ecd-fb7771f7554c",
      "name": "Combine Outcomes",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.1,
      "position": [
        4320,
        -80
      ],
      "parameters": {
        "numberInputs": 3,
        "mode": "append"
      }
    },
    {
      "id": "280179cc-f70e-49fb-9e41-b825fa10f203",
      "name": "Log Audit Trail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        4600,
        -80
      ],
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list"
        },
        "table": {
          "__rl": true,
          "value": "invoice_audit_log",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "invoice_number": "={{ $json.invoiceNumber }}",
            "vendor_name": "={{ $json.vendorName }}",
            "amount": "={{ $json.amount }}",
            "risk_score": "={{ $json.riskScore }}",
            "risk_level": "={{ $json.riskLevel }}",
            "decision": "={{ $json.status || 'queued_for_review' }}",
            "organization_id": "={{ $json.organizationId }}",
            "processed_at": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      }
    },
    {
      "id": "88b30390-6e99-4e08-96af-bdbff8c0ca5d",
      "name": "Pipeline Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        4860,
        -80
      ],
      "parameters": {}
    },
    {
      "id": "ced391ad-c1a8-4743-8be4-48d7f4d12672",
      "name": "Daily 08:00 Digest",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -680,
        860
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      }
    },
    {
      "id": "e99c0cd3-09b7-4d3c-90fb-0cca8f309193",
      "name": "Fetch Dashboard Metrics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -420,
        860
      ],
      "parameters": {
        "url": "=https://app.invoiceguard.io/api/dashboard",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.invoiceGuardApi.token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "47ab4006-317c-4684-96a4-5889c7113268",
      "name": "Fetch Open Alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -160,
        860
      ],
      "parameters": {
        "url": "=https://app.invoiceguard.io/api/anomalies",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "open"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.invoiceGuardApi.token }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "a344748c-0b0c-4ab8-bc6f-7c7cb1abc8c8",
      "name": "Build Digest Report",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        860
      ],
      "parameters": {
        "jsCode": "const stats = $('Fetch Dashboard Metrics').item.json.data;\nconst alerts = $json.data.alerts || [];\nconst summary = $json.data.summary;\n\nconst topVendorsHtml = stats.topVendors.slice(0, 5)\n  .map(v => `<li>${v.vendor} — $${v.amount.toFixed(2)} (${v.invoiceCount} invoices)</li>`).join('');\n\nconst html = `\n  <h2>InvoiceGuard Daily Digest</h2>\n  <p><b>Total invoices:</b> ${stats.totalInvoices} | <b>Total spend:</b> $${stats.totalSpend.toFixed(2)}</p>\n  <p><b>Open alerts:</b> ${summary.open} | <b>Amount at risk:</b> $${summary.totalAmountAtRisk.toFixed(2)}</p>\n  <h3>Top vendors by spend</h3><ul>${topVendorsHtml}</ul>\n`;\n\nreturn [{ json: { html, stats, summary, alertCount: alerts.length } }];"
      }
    },
    {
      "id": "66107243-43bc-4091-8ece-6f5e595d13a0",
      "name": "Email Daily Digest to CFO",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        360,
        780
      ],
      "parameters": {
        "fromEmail": "invoiceguard-bot@invoiceguard.io",
        "toEmail": "cfo@invoiceguard.io",
        "subject": "=InvoiceGuard Daily Digest — {{ $now.toFormat('yyyy-MM-dd') }}",
        "emailFormat": "html",
        "html": "={{ $json.html }}",
        "options": {}
      }
    },
    {
      "id": "9b3dcf81-127b-46f5-9d46-b6279e243e90",
      "name": "Post Summary to Finance Channel",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        360,
        940
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#finance",
          "mode": "name"
        },
        "text": "=:bar_chart: Daily digest: {{ $json.stats.totalInvoices }} invoices, ${{ $json.stats.totalSpend }} total spend, {{ $json.summary.open }} open alerts (${{ $json.summary.totalAmountAtRisk }} at risk).",
        "otherOptions": {}
      }
    },
    {
      "id": "54c1280b-6c90-4a2b-9b6b-84d88cc4ad74",
      "name": "Workflow Error Handler",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        -1080
      ],
      "parameters": {}
    },
    {
      "id": "34bf7743-4fed-41e4-bef3-9bad0963a118",
      "name": "Format Error Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -420,
        -1080
      ],
      "parameters": {
        "jsCode": "const err = $json.execution?.error || $json;\nreturn [{\n  json: {\n    workflowName: $json.workflow?.name || 'InvoiceGuard Fraud Detection Pipeline',\n    nodeName: err?.node?.name || 'unknown node',\n    message: err?.message || 'Unknown error',\n    timestamp: new Date().toISOString(),\n  },\n}];"
      }
    },
    {
      "id": "2afbc48a-42d3-46d2-a2d3-17c2b10a46de",
      "name": "Alert Ops On-Call",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        -160,
        -1080
      ],
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "#ops-oncall",
          "mode": "name"
        },
        "text": "=:red_circle: *{{ $json.workflowName }}* failed at node *{{ $json.nodeName }}*\n```{{ $json.message }}```\n<!subteam^finance-automation-oncall>",
        "otherOptions": {}
      }
    }
  ],
  "connections": {
    "Invoice Received": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Has Attachment?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Attachment?": {
      "main": [
        [
          {
            "node": "Download Invoice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Extract Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Invoice File": {
      "main": [
        [
          {
            "node": "AI Extract Invoice Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract Invoice Data": {
      "main": [
        [
          {
            "node": "Reconcile Extracted + Submitted Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reconcile Extracted + Submitted Data": {
      "main": [
        [
          {
            "node": "Validate Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Schema": {
      "main": [
        [
          {
            "node": "Valid Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Data?": {
      "main": [
        [
          {
            "node": "Fetch Vendor & Invoice History",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Notify Invalid Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Invalid Invoice": {
      "main": [
        [
          {
            "node": "Discard Invalid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Vendor & Invoice History": {
      "main": [
        [
          {
            "node": "Duplicate Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate Detection": {
      "main": [
        [
          {
            "node": "Statistical Anomaly Detection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Statistical Anomaly Detection": {
      "main": [
        [
          {
            "node": "Fraud Risk Scoring Engine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fraud Risk Scoring Engine": {
      "main": [
        [
          {
            "node": "Route by Risk Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Risk Level": {
      "main": [
        [
          {
            "node": "Create Critical Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Flag Invoice for Review",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Auto-Approve Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Critical Alert": {
      "main": [
        [
          {
            "node": "Alert Finance & Security Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alert Finance & Security Team": {
      "main": [
        [
          {
            "node": "Send & Wait for Manual Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send & Wait for Manual Approval": {
      "main": [
        [
          {
            "node": "Approved by Reviewer?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approved by Reviewer?": {
      "main": [
        [
          {
            "node": "Approve Invoice (Reviewed)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reject Invoice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reject Invoice": {
      "main": [
        [
          {
            "node": "Notify Vendor Team of Rejection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flag Invoice for Review": {
      "main": [
        [
          {
            "node": "Notify AP Reviewer Queue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify AP Reviewer Queue": {
      "main": [
        [
          {
            "node": "Await Manual Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Auto-Approve Invoice": {
      "main": [
        [
          {
            "node": "Sync Bill to Accounting System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Bill to Accounting System": {
      "main": [
        [
          {
            "node": "Confirm Auto-Approval to AP Team",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Invoice (Reviewed)": {
      "main": [
        [
          {
            "node": "Sync Bill to Accounting System",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm Auto-Approval to AP Team": {
      "main": [
        [
          {
            "node": "Combine Outcomes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Vendor Team of Rejection": {
      "main": [
        [
          {
            "node": "Combine Outcomes",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Await Manual Review": {
      "main": [
        [
          {
            "node": "Combine Outcomes",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Combine Outcomes": {
      "main": [
        [
          {
            "node": "Log Audit Trail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Audit Trail": {
      "main": [
        [
          {
            "node": "Pipeline Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily 08:00 Digest": {
      "main": [
        [
          {
            "node": "Fetch Dashboard Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Dashboard Metrics": {
      "main": [
        [
          {
            "node": "Fetch Open Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Open Alerts": {
      "main": [
        [
          {
            "node": "Build Digest Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest Report": {
      "main": [
        [
          {
            "node": "Email Daily Digest to CFO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post Summary to Finance Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Error Handler": {
      "main": [
        [
          {
            "node": "Format Error Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Error Context": {
      "main": [
        [
          {
            "node": "Alert Ops On-Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "portfolio"
    },
    {
      "name": "finance-automation"
    },
    {
      "name": "fraud-detection"
    }
  ]
}